<!-- add this code in collection page -->
<button class="ajax_atc_button" vid="{{ product.selected_or_first_available_variant.title }}">Add to Cart</button>

<!-- add this js file or in the theme.liquid before closing body tag | Make sure you've added jquery library -->
// this is for example when we click on body | change 'body' as per your requirements (class or id)
$(document).on('click','.ajax_atc_button', function(){ 
    // get the selected id, change this according to your requirement
    var variant_id = $(this).attr("var_id"); 
    // add to cart using ajax
    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
          quantity: 1,
          id: variant_id
        },
        dataType: 'json', 
         success: function (data) {
            // update cart or get the cart data
            $.ajax({
                type: 'GET',
                url: '/cart.json',
                dataType: 'json',
                success: function(data) { 
                    // cart total quantity
                    // to see the data of cart in json format use https://www.websiteurl.com/cart.json
                    var item_count = data.item_count;
                    alert("You've total "+item_count+" items in your cart!");
                }
            });
         }
     });
}) 

